html, body {
    font-family: "Baloo 2";
    background-image: url(dog-lake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

/* .back-img {
    background-image: url(dog-lake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
} */

h1, h2, h3 {
    font-size: 2.5vw;
    color: rgb(0, 0, 0);
    margin: auto;
    text-align: center;
}

.skill-block {
    width: 50%;
    margin: auto;
    float: left;
    display: block;
}

.link-block {
    width: 50%;
    margin: auto;
    float: right;
    display: block;
}

ul {
    text-align: center;
    font-size: 1.5vw;
    padding: 0;
    margin: auto;
    list-style-type: none;
    color: #000000;
    margin-top: 26.457px;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.trans-back {
    background-color: rgba(255,255,255,.5);
    display: block;
    position: absolute;
    width: 40vw;
    transform: translate(-50%, -40vh);
    top: 50%;
    left: 50%;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    color: #000000;

    /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
}

.skills {
    display: flex;
    justify-content: center;
    margin: 0em;
}

h4 {
    margin-bottom: 0;
    box-sizing: border-box;
}

li {
    padding-top: 2.5px;
}
