@font-face {
    font-family: 'Times New Roman', Times, serif;
    src: url(.\Fonts\Times New Roman);
}

html, body {
    background-image: url(Alta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto;
    height: auto;
    width: auto;
}

/* .back-img {
    background-image: url(dog-lake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
} */

h1, h2, h3 {
    font-size: 1.5vw;
    color: rgb(0, 0, 0);
    margin: auto;
    text-align: center;
}

.skill-block {
    width: 50%;
    margin: auto;
    float: left;
    display: block;
}

.link-block {
    width: 50%;
    margin: auto;
    float: right;
    display: block;
}

ul {
    text-align: center;
    font-size: 1.1vw;
    line-height: 1;
    padding: 0;
    margin: auto;
    list-style-type: none;
    color: #000000;
    margin-top: 26.457px;
}

.trans-back {
    background-color: rgba(193, 193, 193, 0.815);
    display: block;
    position: absolute;
    padding: 30px;
    width: 30vw;
    transform: translate(-50%, -40vh);
    top: 50%;
    left: 50%;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    display: flex;
    justify-content: center;
    font-size: 1.1vw;
    text-align: center;
    line-height: 1;
    margin: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    color: #000000;
}

.skills {
    display: flex;
    justify-content: center;
    margin: 0em;
}

h4 {
    margin-bottom: 0;
    box-sizing: border-box;
}

li {
    padding-top: 2.5px;
}
